@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Varela+Round&display=swap');
body{
    background-color: beige;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Poppins', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: rgb(74, 8, 8);
    height: 50px;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url(bg1.jpg);
}
.bottom{
    position: sticky;
    height: 100px;
    background-color: rgb(68, 8, 8);
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 13px;
}
.icons{
    cursor: pointer;
}
#progressbar{
    width: 60vw;
    cursor: pointer;
}
.songItemContainer{
    margin-top: 60px;
}
.songItem{
    height: 40px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0 ;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.songItem img{
    width: 40px;
    margin: 0 0px;
    border-radius: 5px;
}
.timestamp{
    margin: 0 10px;
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 20vw;
    font-family: 'Varela Round', sans-serif;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.2s ease-in;
}